.color-square{
	width:100px;height:100px;overflow:hidden;margin-left:5px;float:left;
}
.color-preview{
	max-width:none!important;
}
.color-font{
	font-weight:bold;font-size:19px;width:auto;height:auto;
}
.center{
	margin: 0 auto;
}
.unselect{
	user-select: none;
}
canvas {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}   